{% extends parent_template|default:"crm/base_crm.html" %}

{% block title %}
  {{ block.super }} - {{ process.title }}
{% endblock %}

{% block content %}
  <h2>{{ process.title }}</h2>
  <ul>
    <li><a href="{{ process.get_update_url }}">Update</a></li>
    <li><a href="{{ process.get_delete_url }}">Delete</a></li>
    <li><a href="{% url 'crm_process_note_create' %}">Add Note</a></li>
  </ul>
  <p>Company: <a href="{{ process.company.get_absolute_url }}">{{ process.company }}</a> </p>
  <h3>Actions:</h3>
  <ul>
    {% for process_note in process.process_notes.all %}
      <li>
        {{ process_note.timestamp|date:'Y-m-d' }}:
        {{ process_note.description }}
      </li>
    {% empty %}
      <li>No actions available.</li>
    {% endfor %}
  </ul>
{% endblock %}
