<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Tommy{% endblock %}</title>
</head>
<body>
  <div>
    <header>
      <h1>Tommy</h1>
    </header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'crm_company_list' %}">Companies</a>
        </li>
        <li>
          <a href="{% url 'crm_contact_list' %}">Contacts</a>
        </li>
        <li>
          <a href="{% url 'crm_process_list' %}">Processes</a>
        </li>
        <li>
          <a href="{% url 'crm_skill_list' %}">Skills</a>
        </li>
      </ul>
    </nav>
    {% if messages %}
      <div>
        <div>
          <ul>
            {% for message in messages %}
              {% if message.tags %}
                <li class="{{ message.tags }}">
              {% else %}
                <li>
              {% endif %}
              {{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
    <main>
      {% block content %}

      {% endblock %}
    </main>
    <footer>
      <p>Tommy: Sales CRM</p>
    </footer>
  </div>
</body>
</html>